<div id="main" class="container w-100">
    <div class="col-12 mx-auto mt-5">
        <div id="header" class="text-center col-6 mx-auto">
            <h2>Registracija</h2>
            <hr>
            <p>Ukoliko želite da se registrujete molimo Vas pratite sledeća uputsva</p>
            <p class="text-danger"></p>
        </div>
       <!--<div class="arrow-steps  border clearfix">
        <div class="step current"> <span> Izbor paketa</span> </div>
           <div class="step"> <span> Info korisnika <i class="fa fa-user-o" aria-hidden="true"></i></span> </div>
           <div class="step"> <span> Detalji plaćanja <i class="fa fa-eur" aria-hidden="true"></i></span> </div>
        </div> -->
        <div id='errors' class='row text-center'>
            <div id='errspans' class="input-group invalid-feedback mx-auto text-center justify-content-center">    
                <span id="err0" class="err col-12"></span>
                <span id='err1' class="err col-12"></span>
                <span id='err2' class="err col-12"></span>
                <span id='err3' class="err col-12"></span>
                <span id='err4' class="err col-12"></span>
            </div>
        </div> 
        <form method="post" action="test.php" id="form_reg" class="form col mx-auto">
            <div id='step1'>
                <div class="card-deck mb-3 text-center">
                <div id="card1"  class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Paket 1</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"> 200€<small class="text-muted">/3 mes</small></h1>
                        <div id='details1'>Detaljnije <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                        <ul id='more_details1' class="list-unstyled mt-3 mb-4">
                            <li>3 meseca korišćenja</li>
                            <li>Neograničen broj pregleda</li>
                            <li>Pregled lokacija</li>
                            <li>Kontakt podrška</li>
                            <li>Grafički prikaz valuta/vreme</li>
                        </ul>
                        <input type="radio" id="package1" name='package' value='package1' class="btn package">Izaberi</button>
                    </div>
                </div>
                <div id="card2" class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Paket 2</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"> 350€<small class="text-muted">/6 mes</small></h1>
                        <div id='details2'>Detaljnije <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                        <ul id='more_details2' class="list-unstyled mt-3 mb-4">
                            <li>6 meseca korišćenja</li>
                            <li>Neograničen broj pregleda</li>
                            <li>Pregled lokacija</li>
                            <li>Kontakt podrška</li>
                            <li>Grafički prikaz valuta/vreme</li>
                        </ul>
                        <input type="radio" id="package2" name= 'package' value='package2' class="btn package">Izaberi</button>
                    </div>
                </div>
                <div id="card3" class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Paket 3</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"> 600€<small class="text-muted">/12 mes</small></h1>
                        <div id='details3'>Detaljnije <i class="fa fa-chevron-down" id="arrow3down" aria-hidden="true"></i>
                        </div>
                        <ul id='more_details3' class="list-unstyled mt-3 mb-4">
                            <li>12 meseca korišćenja</li>
                            <li>Neograničen broj pregleda</li>
                            <li>Pregled lokacija</li>
                            <li>Kontakt podrška</li>
                            <li>Grafički prikaz valuta/vreme</li>
                        </ul>
                        <input type="radio"  id="package3" name='package' value='package3' class="btn package">Izaberi</button>
                    </div>
                </div>
            </div>
            <div class="form-send text-center">
                <div class="mx-auto">
                    <p id='op' class='my-auto text-muted'>Da biste produžili dalje morate da izaberete paket</p>
                    <button type="button" id="next" name='next_step' class="btn btn-dark text-warning next ml-auto" disabled='disabled' >Dalje <i class="fa fa-angle-double-right" aria-hidden="true" ></i></button>
                </div>
            </div>
        </div>
        <div id="step2" class='col-6 mx-auto '>
                <div class="mx-auto mt-5 ">
                    <!-- <div class='row text-center'>
                        <div id='errors' class="input-group invalid-feedback mx-auto text-center justify-content-center mb-3">    
                            {{ERRORS}}
                        </div>  
                    </div>  -->
                    <div id="step2_reg" class="mx-auto">
                        <div class="form-group">
                            <label for="user_email" class="my-auto">E-mail adresa: </label>
                            <input type="email" id='reg_user_mail' name="email" class="form-control ins"  autocomplete="off" >
                        </div>
                        <div class="form-group">
                            <label for="user_name" class="my-auto">Korisničko ime: </label>
                            <input type="text" id='reg_user_name' name="username" class="form-control ins"  autocomplete="off" >
                        </div>
                        <div class="form-group">
                            <label for="user_name" class="my-auto">Lozinka: </label>
                            <input type="password" id='reg_pass' name="password" class="form-control ins" autocomplete="off" >
                        </div>
                        <div class="form-group">
                            <label for="user_pib" class="my-auto">Potvrdite lozinku: </label>
                            <input type="password" id='reg_pass_confirm' name="password_confirm" class="form-control ins" autocomplete="off" >
                        </div>
                    </div>
                </div>
            <div class="form-send text-center">
                <div class="col mx-auto">
                    <p id='op' class='my-auto text-muted'>Da biste produžili dalje morate da popunite sva polja</p>
                    <button type="button" id="next2" name='next_step' class="btn btn-dark text-warning next ml-auto" disabled='disabled' >Dalje <i class="fa fa-angle-double-right" aria-hidden="true" ></i></button>
                </div>
            </div> 
            <input type="submit" value=''>   
        </div>
        <div id="step3" class='col-6 mx-auto'>
            <div class="panel panel-default credit-card-box mx-auto">
                <div class="panel-heading display-table col-10 mb-2 mx-auto" >
                    <div class="row display-tr" >
                        <h4 class="display-td mt-2" >Detalji plaćanja</h4>
                    </div>                    
                </div>
                <div class="panel-body col-10 max-auto">
                    <div class="row mx-auto">
                        <div class="col-10 mx-auto">
                            <div class="form-group">
                                <label class='control-label'></label>
                                <input type="radio" id='pay1' name="pay" value="pay_pal" class="payment btn btn-primary"/>
                                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png">
                            </div>
                        </div>        
                    </div>
                    <div class="row mx-auto">
                        <div class="col-10 mx-auto">
                            <div class="form-group">
                                <label class='control-label'></label>
                                <input type="radio" id='pay2' name="pay" value="credit_card" class="payment btn btn-primary"/><img class="img-responsive" src="http://i76.imgup.net/accepted_c22e0.png"/>
                            </div>
                        </div>        
                    </div>
                   <div class="row mx-auto">
                        <div class="form-group col-10 mx-auto">
                            <div class="form-check">
                                <input class="form-check-input" name='terms' type="checkbox" id="invalidCheck3" required>
                                <label class="form-check-label" for="invalidCheck3">
                                    Prihvatam <a href="#">uslove</a> korišćenja
                                </label>
                                <div style="display:none;">
                                    Morate se složiti sa uslovima korišćenja
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-send text-center justify-content-center mx-auto mt-3">
                            <button type="submit" id="next_submit" name='next_step' class="btn btn-dark text-warning next pull-right" disabled='disabled'>Potvrdi </button>
                        </div>  
                    </div>
                </div>
            </div>
        </div>    
    </form>
        
    </div>
</div>
