<div id="main" class="container w-100">
    <div class="col-12 mx-auto mt-5">
        <div id="header" class="text-center col-6 mx-auto">
            <h2>Registracija</h2>
            <hr>
            <p>Ukoliko želite da se registrujete molimo Vas pratite sledeća uputsva</p>
            <p class="text-danger"></p>
        </div>
       <div class="arrow-steps clearfix">
          <div class="step current"> <span> Izbor paketa</span> </div>
          <div class="step"> <span> Info korisnika <i class="fa fa-user-o" aria-hidden="true"></i></span> </div>
          <div class="step"> <span> Detalji plaćanja <i class="fa fa-eur" aria-hidden="true"></i></span> </div>
        </div>
        <div id='errors' class='row text-center'>
            <div class="input-group invalid-feedback mx-auto text-center justify-content-center mb-3">    
                {{ERRORS}}
            </div>  
        </div> 
        <form method="post" action="index.php?page=register" id="form_reg" class="form col mx-auto">
            <div id='step1'>
                <div class="card-deck mb-3 text-center">
                <div id="card1"  class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Paket 1</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"> 200€<small class="text-muted">/3 mes</small></h1>
                        <div id='details1'>Detaljnije <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                        <ul id='more_details1' class="list-unstyled mt-3 mb-4">
                            <li>3 meseca korišćenja</li>
                            <li>Neograničen broj pregleda</li>
                            <li>Pregled lokacija</li>
                            <li>Kontakt podrška</li>
                            <li>Grafički prikaz valuta/vreme</li>
                        </ul>
                        <input type="radio" id="package1" name='package' value='package1' class="btn package">Izaberi</button>
                    </div>
                </div>
                <div id="card2" class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Paket 2</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"> 350€<small class="text-muted">/6 mes</small></h1>
                        <div id='details2'>Detaljnije <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                        <ul id='more_details2' class="list-unstyled mt-3 mb-4">
                            <li>6 meseca korišćenja</li>
                            <li>Neograničen broj pregleda</li>
                            <li>Pregled lokacija</li>
                            <li>Kontakt podrška</li>
                            <li>Grafički prikaz valuta/vreme</li>
                        </ul>
                        <input type="radio" id="package2" name= 'package' value='package2' class="btn package">Izaberi</button>
                    </div>
                </div>
                <div id="card3" class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Paket 3</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"> 600€<small class="text-muted">/12 mes</small></h1>
                        <div id='details3'>Detaljnije <i class="fa fa-chevron-down" id="arrow3down" aria-hidden="true"></i>
                        </div>
                        <ul id='more_details3' class="list-unstyled mt-3 mb-4">
                            <li>12 meseca korišćenja</li>
                            <li>Neograničen broj pregleda</li>
                            <li>Pregled lokacija</li>
                            <li>Kontakt podrška</li>
                            <li>Grafički prikaz valuta/vreme</li>
                        </ul>
                        <input type="radio"  id="package3" name='package' value='package3' class="btn package">Izaberi</button>
                    </div>
                </div>
            </div>
            <div class="form-send text-center">
                <p id='op'>Izaberite!!!!!!!!!!</p>
                <button type="button" id="next" name='next_step' class="btn btn-dark text-warning next pull-right" disabled='disabled' >Dalje <i class="fa fa-angle-double-right" aria-hidden="true" ></i></button>
            </div>
        </div>
        <div id="step2" class='col-6 mx-auto'>
            
            <div class="form-send text-center">
                <button type="button" id="next2" name='next_step' class="btn btn-dark text-warning next pull-right" disabled='disabled'>Dalje <i class="fa fa-angle-double-right" aria-hidden="true" ></i></button>
            </div>    
        </div>
        <div id="step3" class='col-6 mx-auto'>
           <div class="form-send text-center">
                <button type="submit" id="next" name='next_step' class="btn btn-dark text-warning next pull-right" >Potvrdi <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
            </div>    
        </div>
            
    </form>
        <!--<div class="nav clearfix">
        <a href="#" class="prev">Previous</a>
        <a href="#" class="next pull-right">Next</a>
        </div>-->
    </div>
</div>
